body{
    background-image:url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-shopping-mall-supermarket-selection-merchandise-poster-background-material-image_133225.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    background-color: yellow;
    width: auto;
    
}
input{
    background-color: pink;
}
img{
    background-color:thistle;
}
label{
    background-color: navajowhite;
}
p{
    color:chartreuse;
    
}
.image{
    margin:150px;
    width:150px;
    height:150px;
}